flair
pandas
Levenshtein
wget
spacy
tqdm
pyyaml
torch==1.11.0
# python -m spacy download es_core_news_lg
# pip install torch==1.10.1+cu111 torchvision==0.11.2+cu111 torchaudio==0.10.1 -f https://download.pytorch.org/whl/torch_stable.html
